{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>-->
    <img src="{% static '/img/code.jpeg' %}" width="70" height="40" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_record' %}">Add Post</a>
          </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Edit settings</a>
              <a class="dropdown-item" href="#">Show Profile</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              
            </div>
          </ul>
          </li>

    
        {% else %}


        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>


        {% endif %}
        
        
      </ul>
     <!--- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        
      </form>-->
    </div>
  </nav>