{% extends 'blog/base.html' %}

{% block content %}



<br/>
<h1 style = "text-align:center; color:green;"> Details </h1>
<br/>

<div class="col-md-6 offset-md-3">

<div class="card">
    <div class="card-header">
        {{detail_it.first_name }} 
        {{ detail_it.last_name }}
    </div>
    <div class="card-body">
      
      <p class="card-text">
        <strong>{{ detail_it.first_name }}</strong>
    </p>

    <p class="card-text">
        <strong>{{ detail_it.last_name }}</strong>
    </p>

    <p class="card-text">
        {{ detail_it.country }}
    </p>

    <p class="card-text">
        {{ detail_it.mobile }}
    </p>

    <p class="card-text">
        {{ detail_it.email }}
    </p>

    <p class="card-text">
        {{ detail_it.date_created }}
    </p>

    <p class="card-text">
        {{ detail_it.id }}

    </p>

      
    </div>
  </div>
<br/>
</div>
<div style = "text-align:center;">
<a href = "{% url 'home' %}" class = "btn btn-secondary"> Back </a>
<a href = "{% url 'delete' detail_it.id %}" class = "btn btn-danger"> Delete </a>
<a href = "{% url 'update' detail_it.id %}" class = "btn btn-success"> Update </a>








</div>
{% endblock %}