{% extends 'blog/base.html' %}

{% block content %}



<br/>
<h1 style = "text-align:center; color:green;"> Details </h1>
<br/>

<div class="col-md-6 offset-md-3">

<div class="card">
    <div class="card-header">
        {{ my_record.first_name }} 
        {{ my_record.last_name }}
    </div>
    <div class="card-body">
      
      <p class="card-text">
        <strong>{{ my_record.first_name }}</strong>
    </p>

    <p class="card-text">
        <strong>{{ my_record.last_name }}</strong>
    </p>

    <p class="card-text">
        {{ my_record.country }}
    </p>

    <p class="card-text">
        {{ my_record.mobile }}
    </p>

    <p class="card-text">
        {{ my_record.email }}
    </p>

    <p class="card-text">
        {{ my_record.date_created }}
    </p>

    <p class="card-text">
        {{ my_record.id }}

    </p>

      
    </div>
  </div>
<br/>
</div>
<div style = "text-align:center;">
<a href = "{% url 'home' %}" class = "btn btn-success"> Back </a>
<a href = "{% url 'delete' my_record.id %}" class = "btn btn-danger"> Delete </a>
<a href = "{% url 'update' my_record.id %}" class = "btn btn-success"> Update </a>






</div>
{% endblock %}